{% extends "./blocks/layout.html" %}
{% block content %}
<style>
    table th{
        text-align: center;
        background-color: #fafafa;
        vertical-align: middle !important;
    }
    label{
        font-weight: normal;
        margin-right:20px;
    }
    label input{
        margin-right:5px !important;
    }
    .table-responsive > .table > tbody > tr >td >.table_label{
        white-space: normal ;
    }
    .hp1::after{
        content:"-";
        position:absolute;
        top:10px;
        right:15px;
    }
    .appli_table_textbox{
        width:100%;
        overflow-y:scroll;
        border:1px #AAA solid;
        margin:10px auto;
        padding:15px;
    }
    .table_label label{
        width: 193px;
        vertical-align: top
    }
    @media screen and (max-width: 767px) {
        .table_label{
            width:100%;

        }
    }
    @media screen and (max-width: 479px) {
        .hp{
            width:15%;
            display:inline-block;
        }
    }
</style>
    <!-- PAGE TITLE -->
    <header class="pagetitle pagetitle-sm">
    	<div class="container">
    		<div class="divtable irow">
    			<div class="divcell">
    				<i class="fa fa-file-o"></i>
    				<h1>데이터 복구</h1>
    				<div class="divider"></div>
    				<span class="subtitle">데이터 복구 의뢰</span>
    			</div>
    			<div class="divcell text-right">
    				<ol class="breadcrumb">
    					<li><a href="#">홈</a></li>
    					<li class="active">데이터복구</li>
    				</ol>
    			</div>
    		</div>
    	</div>
    </header>
    <!-- /.pagetitle -->

    <!-- CONTENT -->
    <div class="content">
        <div class="container">
            <section class="row page-header text-center">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <div class="icon icon-color icon-size-7">
                        <i class="fa fa-hdd-o"></i>
                    </div>
                    <h1>데이터 복구 신청 의뢰</h1>
                    <p style="margin:0 auto">온라인 접수시 남기신 연락처로 연락드립니다.</p>
                </div>
            </section>
        </div>
        <hr class="hr-nobg">
        <hr class="hr-nobg">
        <div class="iwrap iwrap-light">
			<div class="container">
                <hr class="hr-nobg">
                <div class="text-center">
                    <div class="heading-divider"></div>
                    <h3 class="text-center">필요서류</h3>
                </div>
                <hr class="hr-nobg">
				<div class="row irow-xs">
					<div class="col-sm-5 img-wrap img-wrap-left" style="height: 429px;">
						<img src="../../images/data_d.jpg" alt="">
					</div>
					<div class="col-sm-6 col-sm-offset-1 text-wrap">
						<div class="row irow-sm">
							<div class="col-md-6">
								<div class="icon icon-color icon-size-4">
									<i class="fa fa-hdd-o"></i>
								</div>
								<h4>데이터 복구시</h4>
								<div class="heading-divider"></div>
								<p><a href="../../document/mobile_data.doc">데이터복구의뢰서(자필서명)</a><br><a href="../../document/attorney.doc">위임장</a><br>통신사 가입증명서<br>신분증사본 등</p>
							</div>

						</div>
                        <p><br><br>※ 데이터 복원까지 필요시 접수하실 때 미리 말씀해주세요.</br>수리와 동시에 데이터 복원은 데이터복구시 필요한 서류를 같이 첨부하여야 합니다.</p>
					</div>
				</div>
			</div>
	    </div>
        <hr class="hr-nobg">
        <div class="container">
            <div class="text-center">
                <div class="heading-divider"></div>
                <h3 class="text-center">신청하기</h3>
            </div>
            <hr class="hr-nobg">
            <form action="repair_request.html" method="post">
                <fieldset>
                    <legend class="sr-only">복구의뢰신청</legend>
                    <div class="table-responsive form-group">
        				<table class="table table-bordered">
                            <colgroup>
                                <col width="20%">
                                <col width="80%">
                            </colgroup>
        					<tbody>
                                <tr>
            						<th>의뢰지점</th>
            						<td>
                                        <div class="col-xs-6" style="padding-left:0;">
                                            <select name="storeId" id="model_class">
                                                <option selected="true" disabled="disabled" style="display:none;" id="none1">선택하세요</option>
                                                {% for item in stores %}
                                                    <option value="{{item.storeId}}">{{item.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </td>
            					</tr>
                                <tr>
            						<th>접수방법</th>
            						<td>
                                        <div class="col-xs-6" style="padding-left:0;">
                                            <select name="way" id="model_class_1">
                                                <option selected="true" disabled="disabled" style="display:none;" id="none2">접수방법 선택</option>
                                                <option value="방문접수">방문접수</option>
                                                <option value="택배접수">택배접수</option>
                                                <option value="퀵접수">퀵접수</option>
                                                <option value="기타">기타</option>
                                            </select>
                                        </div>
                                    </td>
            					</tr>
                                <tr>
            						<th>고객명</th>
            						<td>
                                        <div class="col-xs-6" style="padding-left:0;">
                                            <input type="text" id="name" name="name" required><label for="name" class="sr-only">고객명</label>
                                        </div>
            					</tr>
                                <tr>
            						<th>연락처</th>
            						<td>
                                        <div class="col-xs-6" style="padding-left:0;">
                                            <input type="text" id="phone" name="phone" required><label for="phone" class="sr-only">연락처</label>
                                        </div>
            					</tr>
                                <tr>
            						<th>휴대폰 모델</th>
            						<td>
                                        <div class="col-xs-6" style="padding-left:0;">
                                            <input type="text" id="phone_model" name="modelName" required><label for="phone_model" class="sr-only">휴대폰 모델</label>
                                        </div>
            					</tr>
                                <tr>
            						<th>일련번호</th>
            						<td>
                                        <div class="col-xs-6" style="padding-left:0;">
                                            <input type="text" id="serial_number" name="modelNumber" required><label for="serial_number" class="sr-only">일련번호</label>
                                        </div>
            					</tr>
                                <tr>
            						<th>휴대폰분류</th>
            						<td>
                                        <div class="col-xs-6" style="padding-left:0; margin-bottom:5px">
                                            <select name="phoneType" id="model_class_2">
                                                <option selected="true" disabled="disabled" style="display:none;" id="none3">휴대폰 분류</option>
                                                <option value="아이폰">아이폰</option>
                                                <option value="안드로이드폰">안드로이드폰</option>
                                                <option value="블랙베리OS">블랙베리OS</option>
                                                <option value="윈도우 모바일폰">윈도우 모바일폰</option>
                                                <option value="일반폰">일반폰</option>
                                                <option value="기타">기타</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-6" style="padding-left:0;">
                                            <select name="phoneMaker" id="model_class_3">
                                                <option selected="true" disabled="disabled" style="display:none;" id="none4">휴대폰 제조사</option>
                                                <option value="애플">애플</option>
                                                <option value="소니">소니</option>
                                                <option value="리서치인모션">리서치인모션</option>
                                                <option value="기타">기타</option>
                                            </select>
                                        </div>
                                    </td>
            					</tr>
                                <tr>
            						<th>긴급여부</th>
            						<td>
                                        <div class="col-xs-6" style="padding-left:0;">
                                            <select name="urgent" id="urgent">
                                                <option selected="true" disabled="disabled" style="display:none;" id="none5">긴급여부 선택</option>
                                                <option value="일반">일반</option>
                                                <option value="긴급" {%if query.urgent%} selected="selected" {%endif%}>긴급</option>
                                            </select>
                                        </div>
                                    </td>
            					</tr>
                                <tr>
            						<th>정상여부</th>
            						<td>
                                        <div class="col-xs-6" style="padding-left:0;">
                                            <select name="nomal" id="normal">
                                                <option selected="true" disabled="disabled" style="display:none;" id="none6">정상여부 선택</option>
                                                <option value="정상">정상</option>
                                                <option value="고장">고장</option>
                                            </select>
                                        </div>
                                    </td>
            					</tr>
                                <tr>
            						<th>복구항목</th>
                                    <td>
                                        <div class="table_label">
                                            <label for="damage_1"><input type="checkbox" name="requirement[]" value="전화번호부 200건 이하" id="damage_1">전화번호부 200건 이하</label>
                                            <label for="damage_2"><input type="checkbox" name="requirement[]" value="전화번호부 500건 이하" id="damage_2">전화번호부 500건 이하</label>
                                            <label for="damage_3"><input type="checkbox" name="requirement[]" value="전화번호부 500건 이하" id="damage_3">전화번호부 500건 이하</label>
                                            <label for="damage_4"><input type="checkbox" name="requirement[]" value="전화번호부 1000건 이상" id="damage_4">전화번호부 1000건 이상</label>
                                        <!-- </div>
                                        <div class="table_label"> -->
                                            <label for="damage_5"><input type="checkbox" name="requirement[]" value="사진(일반)" id="damage_5">사진(일반)</label>
                                            <label for="damage_6"><input type="checkbox" name="requirement[]" value="동영상(일반)" id="damage_6">동영상(일반)</label>
                                            <label for="damage_7"><input type="checkbox" name="requirement[]" value="일정(스케쥴)" id="damage_7">일정(스케쥴)</label>
                                            <label for="damage_8"><input type="checkbox" name="requirement[]" value="메모(Text)" id="damage_8">메모(Text)</label>
                                        <!-- </div>
                                        <div class="table_label"> -->
                                            <label for="damage_9"><input type="checkbox" name="requirement[]" value="S메모" id="damage_9">S메모</label>
                                            <label for="damage_10"><input type="checkbox" name="requirement[]" value="기타(HWP, PDF, XLS, PPT)" id="damage_10">기타(HWP, PDF, XLS, PPT)</label>
                                            <label for="damage_11"><input type="checkbox" name="requirement[]" value="문자메시지(분석)" id="damage_11">문자메시지(분석)</label>
                                            <label for="damage_12"><input type="checkbox" name="requirement[]" value="통화내역(분석)" id="damage_12">통화내역(분석)</label>
                                        <!-- </div>
                                        <div class="table_label"> -->
                                            <label for="damage_13"><input type="checkbox" name="requirement[]" value="카카오톡(분석)" id="damage_13">카카오톡(분석)</label>
                                            <label for="damage_14"><input type="checkbox" name="requirement[]" value="마이피플(분석)" id="damage_14">마이피플(분석)</label>
                                            <label for="damage_15"><input type="checkbox" name="requirement[]" value="네이버라인(분석)" id="damage_15">네이버라인(분석)</label>
                                            <label for="damage_16"><input type="checkbox" name="requirement[]" value="틱톡(분석)" id="damage_16">틱톡(분석)</label>
                                        <!-- </div>
                                        <div class="table_label"> -->
                                            <label for="damage_17"><input type="checkbox" name="requirement[]" value="네이트온(분석)" id="damage_17">네이트온(분석)</label>
                                            <label for="damage_18"><input type="checkbox" name="requirement[]" value="기타어플(분석)" id="damage_18">기타어플(분석)</label>
                                            <label for="damage_19"><input type="checkbox" name="requirement[]" value="음성(분석)" id="damage_19">음성(분석)</label>
                                            <label for="damage_20"><input type="checkbox" name="requirement[]" value="사진(문자첨부)" id="damage_20">사진(문자첨부)</label>
                                        <!-- </div>
                                        <div class="table_label"> -->
                                            <label for="damage_21"><input type="checkbox" name="requirement[]" value="사진(어플첨부)" id="damage_21">사진(어플첨부)</label>
                                            <label for="damage_22"><input type="checkbox" name="requirement[]" value="인터넷로그(분석)" id="damage_22">인터넷로그(분석)</label>
                                            <label for="damage_23"><input type="checkbox" name="requirement[]" value="기타(분석)" id="damage_23">기타(분석)</label>
                                            <label for="damage_24"><input type="checkbox" name="requirement[]" value="확인서" id="damage_24">확인서</label>
                                        <!-- </div>
                                        <div class="table_label"> -->
                                            <label for="damage_25"><input type="checkbox" name="requirement[]" value="감정서" id="damage_25">감정서</label>
                                            <label for="damage_26"><input type="checkbox" name="requirement[]" value="모바일포렌식" id="damage_26">모바일포렌식</label>
                                            <label for="damage_27"><input type="checkbox" name="requirement[]" value="프리미엄" id="damage_27">프리미엄</label>
                                            <label for="damage_28"><input type="checkbox" name="requirement[]" value="패키지A(전번+사진)" id="damage_28">패키지A(전번+사진)</label>
                                        <!-- </div>
                                        <div class="table_label"> -->
                                            <label for="damage_29" style="width:210px"><input type="checkbox" name="requirement[]" value="패키지B(전번+사진+동영상)" id="damage_29">패키지B(전번+사진+동영상)</label>
                                        </div>
                                    </td>
            					</tr>
                                <tr>
            						<th>요청사항(세부)</th>
            						<td>
            						    <textarea class="form-control" name="content" rows="5"></textarea>
            						</td>
            					</tr>
                                <tr>
            						<td colspan="2" style="padding:15px 3%;">
                                        <span class="pull-left">개인정보의 수집 및 이용목적</span>
                                        <span class="pull-right">
                                            <label for="agree" style="margin:0;"><input type="checkbox" name="" value="" id="agree" required>개인정보의 수집 및 이용목적에 동의합니다.</label>
                                        </span>
                                        <br>
                                        <div class="clearfix appli_table_textbox">
                                            ▶ 개인정보의 수집 및 이용목적<br>
                                            - 서비스 이용에 따른 본인 식별, 실명확인, 가입의사 확인, 연령제한 서비스 이용<br>
                                            - 고지사항 전달, 불만처리 의사소통 경로 확보, 물품배송시 정확한 배송지 정보 확보<br>
                                            - 신규 서비스 등 최신정보 안내 및 개인맞춤서비스 제공을 위한 자료<br>
                                            - 기타 원활한 양질의 서비스 제공 등<br><br>
                                            ▶ 수집하는 개인정보의 항목<br>
                                            -이름, 이메일, 주소, 연락처, 핸드폰번호, 그 외 선택항목<br><br>
                                            ▶ 개인정보의 보유 및 이용기간<br>
                                            - 원칙적으로 개인정보의 수집 또는 제공받은 목적 달성 시 지체없이 파기합니다.<br>
                                            - 다만, 원활한 서비스의 상담을 위해 상담 완료 후 내용을 3개월간 보유할 수 있으며<br>
                                            전자상거래에서의 소비자보호에 관한 법률 등 타법률에 의해 보존할 필요가 있는 경우에는 일정기간 보존합니다.<br>
                                        </div>
                                    </td>
            					</tr>
        					</tbody>
        				</table>
        			</div>
                    <div class="text-center">
                        <input type="submit" class="btn btn-lg btn-primary" id="submit" value="보내기">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
<script>
    window.onload = function(){
        $('#submit').click(function(e){
            if( document.getElementById("none1").selected == true){
                alert("의뢰지점을 선택하세요");
                e.preventDefault();
            }else if( document.getElementById("none2").selected == true){
                alert("접수방법을 선택하세요");
                e.preventDefault();
            }else if( document.getElementById("none3").selected == true){
                alert("휴대폰 분류를 선택하세요");
                e.preventDefault();
            }else if( document.getElementById("none4").selected == true){
                alert("휴대폰 제조사를 선택하세요");
                e.preventDefault();
            }else if( document.getElementById("none5").selected == true){
                alert("긴급여부를 선택하세요");
                e.preventDefault();
            }else if( document.getElementById("none6").selected == true){
                alert("정상여부를 선택하세요");
                e.preventDefault();
            }
        });
    }
</script>
{% endblock %}
