{% extends "./blocks/layout.html" %}
{% block content %}

	<!-- PAGE TITLE -->
	<header class="pagetitle pagetitle-sm">
		<div class="container">
			<div class="divtable irow">
				<div class="divcell">
					<i class="fa fa-file-o"></i>
					<h1>데이터 복구</h1>
					<div class="divider"></div>
					<span class="subtitle">데이터 복구 서비스 소개</span>
				</div>
				<div class="divcell text-right">
					<ol class="breadcrumb">
						<li><a href="#">홈</a></li>
						<li class="active">데이터복구</li>
					</ol>
				</div>
			</div>
		</div>
	</header>
	<!-- /.pagetitle -->

	<!-- 서비스 소개 -->
	<div class="iwrap iwrap-light">
		<div class="container">
			<div class="row irow-xs">
				<div class="col-sm-6 text-wrap">
					<h2>데이터 복구 서비스</h2>
					<p>실수로 지워진 문서, 추억이 담긴 사진, 중요한 자료가 담긴 외장하드, 업무용 프로그램 데이터 등 소중한 자료가 읽히지 않거나 인식되지 않을 때 원래의 상태로 복구해 드립니다.</br><small>※최초 데이터 손상 시 추가적인 다른 조치를 취하지 않아야 복구확률을 높일 수 있습니다.</p></small>
					<div class="heading-divider heading-divider-lg"></div>
					<div class="media">
						<div class="media-left">
							<div class="icon icon-color icon-size-5">
								<i class="fa fa-mobile"></i>
							</div>
						</div>
						<div class="media-body">
							<h4>휴대폰, 테블릿 복구</h4>
							<p>정상 단말기는 복구 소프트웨어 솔루션으로 복구가 가능하며, 고장난 단말기의 경우 메모리 칩셋을 탈장 및 메인보드 수리로 고장난 시점 이전의 데이터로 복구합니다.</p>
							<p class="text-right"><a href="data_repair.html" class="btn btn-primary btn-sm">바로가기 &nbsp;<i class="fa" style="font-size:16px;"></i></a></p>
						</div>
					</div>
					<div class="media">
						<div class="media-left">
							<div class="icon icon-color icon-size-4">
								<i class="fa fa-heartbeat"></i>
							</div>
						</div>
						<div class="media-body">
							<h4>긴급복구 서비스</h4>
							<p>긴급을 요하는 중요한 데이터인 경우 정해진 시간내에 최우선으로 작업을 해드리는 서비스를 제공합니다.</p>
							<p class="text-right"><a href="data_emergency.html" class="btn btn-primary btn-sm">바로가기 &nbsp;<i class="fa" style="font-size:16px;"></i></a></p>
						</div>
					</div>
					<div class="media">
						<div class="media-left">
							<div class="icon icon-color icon-size-4">
								<i class="fa  fa-archive"></i>
							</div>
						</div>
						<div class="media-body">
							<h4>휴대폰 증거감정</h4>
							<p>휴대폰에 저장되어 있는 디지털 증거를 수집, 식별, 추출, 보존, 문서화하여 법정 및 수사기관에 제출할 수 있도록 서비스를 해 드립니다.</p>
							<p class="text-right"><a href="data_evidence.html" class="btn btn-primary btn-sm">바로가기 &nbsp;<i class="fa" style="font-size:16px;"></i></a></p>
						</div>
					</div>

				</div>
				<div class="col-sm-5 col-sm-offset-1 img-wrap img-wrap-right" style="height: 607px;">
					<img class="overlay"src="/images/data_c.jpg" alt="" class="fadeInRightBig" data-animate="fadeInRightBig">
				</div>
			</div>
		</div>
	</div>

	<!-- CONTENT -->

	<div class="">
		<section class="container">

			<div class="row text-wrap text-center" style="position: relative;">
				<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 animated fadeInDown" data-animate="fadeInDown">
					<div class="heading-divider"></div>
					<h1>복구 서비스 유형</h1>
					<p>아이폰, 갤럭시 외 IOS체제와 안드로이드체제의 데이터 복원작업 및 오류복원작업을 통하여 고객님의 소중한 기기와 자료를 복원해 드립니다. 고객님의 소중한 자료와 기기를 최선을 다해 복원해 드릴 것이며,
						최초의 작업이 제일 중요함으로 자가시도를 가급적 자제하시고 전문가와 상의하세요!</p>
					<hr class="hr-dots hr-semilight hr-short">
				</div>
			</div>
			<div class="row irow-xs text-wrap divtable cols-border" style="position: relative;">
				<div class="col-sm-6 divcell text-right animated fadeInLeft" data-animate="fadeInLeft">
					<div class="media">
						<div class="media-body">
							<h4>전화부 복구</h4>
							<p>전화번호부 전체 또는 부분, 삭제된 전화부, 수신, 발신된 최근 기록 리스트, 연락처 내에 있는 추가옵션 등</p>
						</div>
						<div class="media-right">
							<a class="icon icon-inverse icon-size-2 icon-theme icon-rounded" data-hover="rotateIn" href="javascript:void(0)">
								<i class="fa  fa-phone"></i>
							</a>
						</div>
					</div>
					<div class="media">
						<div class="media-body">
							<h4>사진복구</h4>
							<p>사진 전체 또는 부분, 삭제된 사진, 편집한 사진 또는 편집중 저장된 사진, 앨범내에 있는 사진</p>
						</div>
						<div class="media-right">
							<a class="icon icon-inverse icon-size-2 icon-theme icon-rounded" data-hover="rotateIn" href="javascript:void(0)">
								<i class="fa fa-camera-retro"></i>
							</a>
						</div>
					</div>
					<div class="media">
						<div class="media-body">
							<h4>동영상복구</h4>
							<p>동영상 전체 또는 부분, 삭제된 동영상, 편집한 동영상 또는 편집중 저장된 동영상, 앨범내에 있는 동영상 파일</p>
						</div>
						<div class="media-right">
							<a class="icon icon-inverse icon-size-2 icon-theme icon-rounded" data-hover="rotateIn" href="javascript:void(0)">
								<i class="fa fa-video-camera"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 divcell animated fadeInRight" data-animate="fadeInRight">
					<div class="media">
						<div class="media-left">
							<a class="icon icon-inverse icon-size-2 icon-theme icon-rounded" data-hover="rotateIn" href="javascript:void(0)">
								<i class="fa  fa-envelope-o"></i>
							</a>
						</div>
						<div class="media-body">
							<h4>문자메세지 복구</h4>
							<p>문자메세지(sms) 전체 또는 부분, 삭제된 문자메시지, 수신·발신된 최근 문자 기록 리스트 복구</p>
						</div>
					</div>
					<div class="media">
						<div class="media-left">
							<a class="icon icon-inverse icon-size-2 icon-theme icon-rounded" data-hover="rotateIn" href="javascript:void(0)">
								<i class="fa fa-comment"></i>
							</a>
						</div>
						<div class="media-body">
							<h4>카카오톡 복구</h4>
							<p>카카오톡 문자메세지 및 사진 전체 또는 부분, 삭제된 문자메세지 및 사진, 기타 카톡에서 주고 받았던 내용</p>
						</div>

					</div>
					<div class="media">
						<div class="media-left">
							<a class="icon icon-inverse icon-size-2 icon-theme icon-rounded" data-hover="rotateIn" href="javascript:void(0)">
								<i class="fa fa-volume-up"></i>
							</a>
						</div>
						<div class="media-body">
							<h4>메모, 음성녹음 복구</h4>
							<p>메모, 음성메모 전체 또는 부분, 삭제된 메모, 편집한 메모 또는 편집중 저장된 메모, 어플 내에 있는 메모 파일</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
<hr class="hr-nobg">
{% endblock %}
