{% extends "./blocks/layout.html" %}
{% block content %}

    <!-- PAGE TITLE -->
    <header class="pagetitle pagetitle-sm">
    	<div class="container">
    		<div class="divtable irow">
    			<div class="divcell">
    				<i class="fa fa-file-o"></i>
    				<h1>데이터 복구</h1>
    				<div class="divider"></div>
    				<span class="subtitle">데이터 복구 서비스 소개</span>
    			</div>
    			<div class="divcell text-right">
    				<ol class="breadcrumb">
    					<li><a href="#">홈</a></li>
    					<li class="active">데이터복구</li>
    				</ol>
    			</div>
    		</div>
    	</div>
    </header>
    <!-- /.pagetitle -->

    <!-- CONTENT -->
    <div class="content">
        <!-- 절차 -->
        <div class="container">
            <section class="row page-header text-center">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <div class="icon icon-color icon-size-7">
                        <i class="fa fa-archive"></i>
                    </div>
                    <h1>휴대폰 증거 감정</h1>
                    <p>증거법상의 원칙인 무결성, 진정성, 동일성, 신뢰성에 의거하여 모든 감정작업을 진행하고 있습니다. 2003년도 이후 출시된 휴대폰 대부분의 획득 및 분석 기술(국내최대 DB)을 보유하고 있으며 다양한 경험을 가지고 있습니다.</p>
                </div>
            </section>
            <hr class="hr-lg hr-dots hr-semilight">
        </div>
        <hr class="hr-nobg">
        <div class="container">
            <div class="text-center">
                <div class="heading-divider"></div>
                <h2>감정서가 필요한 이유</h2>
                <p class="text-left">휴대폰에 저장된 문자, 통화내역, 음성, 사진 등으로 분쟁 또는 사건이 발생한 경우 사건의 이해 당사가자 직접 제출한 자료는 조작 및 변조의 가능성이 있으므로 증거로 채택되기가 매우 어렵습니다. 따라서 전문적인 기술을 가지고 있으며 당사자와 아무런 이해 관계가 없는 전문가가 분석을 하여야 하며 아래의 증거법상의 원칙과 절차에 의해 작성되어야 합니다.</p>
            </div>
        </div>
        <hr class="hr-nobg">
        <div class="highlight highlight-light overlay background" style="background-image: url('/images/data_b.jpg');background-attachment:fixed;">
			<div class="container">
				<div class="row irow-xs">
					<div class="col-sm-6">
						<div class="media">
							<div class="media-left">
								<div class="icon icon-color icon-size-3" data-hover="rubberBand">
									<i class="fa fa-globe"></i>
								</div>
							</div>
							<div class="media-body media-middle">
								<h4>무결성</h4>
							</div>
						</div>
						<p>증거수집 이후 법정에서 제출 되기까지 변경이나 훼손이 없어야 하므로 사본을 만들어 분석하여야 하며, 사본 획득 후 즉시 사본에 대한 해쉬값을 산출해야 합니다.</p>
					</div>
					<div class="col-sm-6">
						<div class="media">
							<div class="media-left">
								<div class="icon icon-color icon-size-3" data-hover="rubberBand">
									<i class="fa fa-lightbulb-o"></i>
								</div>
							</div>
							<div class="media-body media-middle">
								<h4>진정성</h4>
							</div>
						</div>
						<p>사건과 관련된 증거물임을 확인하기 위해 증거에 대한 사진촬영, 동영상촬영 등의 방법을 통해 증거에 대한 확인이 있어야 합니다.</p>
					</div>
				</div>

				<div class="row irow-xs">
					<div class="col-sm-6">
						<div class="media">
							<div class="media-left">
								<div class="icon icon-color icon-size-3" data-hover="rubberBand">
									<i class="fa fa-paper-plane"></i>
								</div>
							</div>
							<div class="media-body media-middle">
								<h4>동일성</h4>
							</div>
						</div>
						<p>원본과 동일하다는 것을 입증하기 위해 제3자가 동일한 조건하에 재현 가능해야 합니다.</p>
					</div>
					<div class="col-sm-6">
						<div class="media">
							<div class="media-left">
								<div class="icon icon-color icon-size-3" data-hover="rubberBand">
									<i class="fa fa-font"></i>
								</div>
							</div>
							<div class="media-body media-middle">
								<h4>신뢰성</h4>
							</div>
						</div>
						<p>경험이 많고 숙련된 전문가와 인증된 장비 및 도구에 의해 분석되어야 합니다.</p>
					</div>
				</div>
			</div>
		</div>
        <hr class="hr-nobg">
		<div class="container">
			<section class="text-center">
                <div class="heading-divider"></div>
				<h3>신청방법 및 구비서류</h3>
				<p>휴대폰 감정 신청은 본인, 대리인, 법원 등이 가능하며 아래 해당하는 구비서류를 준비하면 감정 신청이 가능합니다.</p>
                <hr class="hr-nobg">
                <div class="table-responsive">
    				<table class="table table-bordered">
    					<thead>
    					<tr>
    						<th class="text-center">신청인</th>
    						<th class="text-center">구비서류</th>
    					</tr>
    					</thead>
    					<tbody>
    					<tr>
    						<td>본인</td>
    						<td>가입확인서 또는 해지확인서</td>
                        </tr>
                        <tr>
    						<td>대리인</td>
    						<td>위임장, 명의자 인감증명서, 대리인 신분증, 가입확인서 또는 해지확인서</td>
                        </tr>
                        <tr>
    						<td>소송대리인</td>
    						<td>위임장, 명의자 인감증명서, 대리인 신분증, 가입확인서 또는 해지확인서</td>
                        </tr>
                        <tr>
    						<td>경찰, 검찰등 수사기관</td>
    						<td>수사 협조 공문</td>
                        </tr>
                        <tr>
    						<td>법원</td>
    						<td>감정촉탁서, 감정인출석요구서</td>
                        </tr>
                        <tr>
    						<td>기타</td>
    						<td>별도협의</td>
                        </tr>
    					</tbody>
    				</table>
				</div>
                <hr class="hr-nobg">
                <div class="text-center">
                    <button type="button" class="btn btn-inverse btn-lg" data-toggle="modal" data-target="#large-modal" style="margin-bottom:0;">가입확인서 또는 해지확인서 발급방법</button>
                    <a href="application.html" class="btn btn-inverse btn-border btn-lg btn-wide">감정의뢰</a>
                </div>
			</section>
		</div>

    </div>


    <!-- Modal Large -->
    <div class="modal fade" id="large-modal">
    	<div class="modal-dialog modal-lg">
    		<div class="modal-content">
    			<div class="modal-header">
    				<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
    				<h6 class="modal-title">가입확인서 또는 해지확인서 발급방법</h6>
    			</div>
    			<div class="modal-body text-center">
    				<div class="modal-body-inside">
    					<div class="icon icon-color icon-size-4" >
    						<i class="fa fa-heart-o"></i>
    					</div>
                        <div class="heading-divider"></div>
    					<h4>가입확인서 또는 해지확인서 발급방법</h4>
                        <p>휴대폰 대리점 방문 또는 통신사 홈페이지에서 발급이 가능하며 서류명은 아래와 같습니다.</p>

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th class="text-center"></th>
                                    <th class="text-center">통신사</th>
                                    <th class="text-center">서류명</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td rowspan="3" style="vertical-align:middle; text-align:center">가입확인서</td>
                                    <td>SKT</td>
                                    <td>이용계약 등록사항 증명서</td>
                                </tr>
                                <tr>
                                    <td>KT</td>
                                    <td>가입원부</td>
                                </tr>
                                <tr>
                                    <td>LG U+</td>
                                    <td>가입사실 확인서</td>
                                </tr>
                                <tr>
                                    <td rowspan="3" style="vertical-align:middle; text-align:center">해지확인서</td>
                                    <td>SKT</td>
                                    <td>이용계약 등록사항 증명서</td>
                                </tr>
                                <tr>
                                    <td>KT</td>
                                    <td>가입원부</td>
                                </tr>
                                <tr>
                                    <td>LG U+</td>
                                    <td>해지 확인서</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <p class="text-left">
                            1. SKT 이용계약 등록사항 증명서<br>
                            <a href="http://www.tworld.co.kr">www.tworld.co.kr</a><br>
                            <strong>my T world → T가입정보 → 가입기본정보 → 나의 휴대폰 정보 보기(버튼) → 휴대폰 이용계약 증명서 조회(버튼)</strong><br>
                            <br>2. KT 가입원부 증명서<br>
                            <a href="http://www.olleh.co.kr">www.olleh.co.kr</a><br>
                            <strong>상품/서비스 안내 → 휴대폰 안내 → AS 안내 → KTF 서비스 가입원부 증명서</strong><br>
                            <br>3. U+ 가입사실 확인서<br>
                            <a href="http://www.uplus.co.kr">www.uplus.co.kr</a><br>
                            <strong>고객센터 → 가입/개통이력 확인 → 가입사실확인 → 프린트</strong><br>
                        </p>
                        <hr class="hr-nobg">
    					<a href="" class="btn btn-primary btn-wide" data-dismiss="modal">Close</a>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    <!-- /.modal -->
{% endblock %}
