{% extends "./blocks/layout.html" %}
{% block content %}



	<!-- PAGE TITLE -->
	<header class="pagetitle pagetitle-sm">
		<div class="container">
			<div class="divtable irow">
				<div class="divcell">
					<i class="fa fa-columns"></i>
					<h1>회사소개</h1>
					<div class="divider"></div>
					<span class="subtitle">회사 소개 및 연혁</span>
				</div>
				<div class="divcell text-right">
					<ol class="breadcrumb">
						<li><a href="#">홈</a></li>
						<li class="active">회사소개</li>
					</ol>
				</div>
			</div>
		</div>
	</header>
	<!-- /.pagetitle -->






	<!-- CONTENT -->
	<div class="content no-all-paddings">

		<!-- CONTAINER -->
		<div class="iwrap iwrap-light background overlay back_img" style="background-image: url('../../images/intro.jpg');">
			<div class="container">
				<div class="row irow-xs text-wrap">
					<div class="col-sm-6">
						<h2>IFIX it KOREA 신속,정확.친절을 우선시 합니다. </h2>
						<div class="heading-divider"></div>
						<p>
							<strong>1.	대한민국에서 현존하는 가장 오래된 아이폰 수리 사설업체 입니다.</strong><br/>
	 						<blockquote style="font-size:12pt;">매년 20~30여 개의 수리사설업체들이 생겨났다, 사라지고 있습니다.
						     그 이유를 알고 계십니까?
							 <br>
						     휴대폰 고장의 증상이 다양함에도 불구하고, 휴대폰의 구조와
						     기술도 모른 체, 저가 부분교체만 취급하는 업체들이 늘고 있어
						     고객 분들의 불만을 해소해 드릴 수 없기 때문입니다.
							 <br>
						     저희 IFIX it KOREA 는 저가부분만 교체하는 업체와 다릅니다.

	 						</blockquote>
						</p>
						<p>
							<strong>2.	대한민국에서 최초의 아이폰 메인보드 수리 전문점입니다.</strong><br/>
							<blockquote style="font-size:12pt;">
								2009년 11월 아이폰3GS 출시와 동시에 아이폰 메인보드를 20년 이상
								매일 휴대폰만 보고 살아온 전문적인 테크니션들이 수리하고 있습니다.
								<br>
								대한민국에서 가장 많은 메인보드 수리 경험을 가지고 있습니다.
							</blockquote>
						</p>
						<p><strong>
							3.	대한민국 최대 협력 테크니션 보유 업체입니다.</strong><br/>
							<blockquote style="font-size:12pt;">전국 14개 협력업체, 수많은 테크니션을 보유한 수리사설업체 중 가장 신뢰받는 업체입니다.
								 <br />
							     IFIX it KOREA 의 이름을 차용한 업체들과의 비교를 거부합니다.
							</blockquote>
						</p>

						<p>
							<strong>IFIX it KOREA 는 대한민국의 최초/최고라는 자부심으로 고객님들을 대하겠습니다. </strong>
						</p>

						<cite class="font-raleway">IFIX it KOREA 협력 테크니션 일동</cite>
					</div>
				</div>
			</div>
		</div>
		<!-- /.container -->
	</div>
	<!-- /.content -->


	<div class="content no-pt">

		<!-- CONTAINER -->
		<div class="iwrap iwrap-light">
			<section class="container">
				<div class="row text-wrap text-center">
					<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" data-animate="fadeInDown">
						<h1>회사연혁</h1>

						<p></p>
					</div>
				</div>
				<div class="height-300">
					<img src="../../images/intro_2.jpg" alt="" data-animate="fadeInUp">
				</div>
				<div class="overlay"></div>
			</section>
		</div>
		<!-- /.container -->

		<hr class="hr-nobg"/>

		<!-- CONTAINER -->
		<div class="container timeline">
			<div class="row irow-xs onerow" data-animate="fadeInUp">
				<div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1 text-center">
					<div class="icon icon-inverse icon-size-3 icon-theme icon-rounded">
						<i class="fa fa-calendar"></i>
					</div>
					<h1>2010년 3월 아이폰 사설업체 드림텍 설립</h1>
					<div class="date">2010년 3월</div>
					<p></p>
					<div class="heading-divider"></div>
					<div class="circle"></div>
				</div>
			</div>

			<div class="row irow-xs" data-animate="fadeInUp">
				<div class="col-sm-5 hidden-xs"></div>
				<div class="col-sm-2 no-padding">
					<div class="date">2010년 4월</div>
				</div>
				<div class="col-sm-5">
					<div class="icon icon-color icon-size-3">
						<i class="fa fa-laptop"></i>
					</div>
					<h4>아이폰 3GS/아이패드 업계 최초 메인보드 수리 시작</h4>
					<p></p>
				</div>
			</div>

			<div class="row irow-xs" data-animate="fadeInUp">
				<div class="col-sm-5 hidden-xs col-sm-push-7"></div>
				<div class="col-sm-2 no-padding">
					<div class="date">2010년 12월</div>
				</div>
				<div class="col-sm-5 col-sm-pull-7">
					<div class="icon icon-color icon-size-3">
						<i class="fa fa-laptop"></i>
					</div>
					<h4>전국 협력점 8군데 확장</h4>
					<p></p>
				</div>
			</div>

			<div class="row irow-xs" data-animate="fadeInUp">
				<div class="col-sm-5 hidden-xs"></div>
				<div class="col-sm-2 no-padding">
					<div class="date">2011년 6월</div>
				</div>
				<div class="col-sm-5">
					<div class="icon icon-color icon-size-3">
						<i class="fa fa-laptop"></i>
					</div>
					<h4>아이XX업체와 합병.아이픽스 코X아로 사명 변경</h4>
					<p>전국 16개 협력점 확대</p>
				</div>
			</div>
			
			<div class="row irow-xs" data-animate="fadeInUp">
				<div class="col-sm-5 hidden-xs col-sm-push-7"></div>
				<div class="col-sm-2 no-padding">
					<div class="date">2011년 11월</div>
				</div>
				<div class="col-sm-5 col-sm-pull-7">
					<div class="icon icon-color icon-size-3">
						<i class="fa fa-laptop"></i>
					</div>
					<h4>블랙베리 메인보드 수리 시작</h4>
				</div>
			</div>

			<div class="row irow-xs" data-animate="fadeInUp">
				<div class="col-sm-5 hidden-xs"></div>
				<div class="col-sm-2 no-padding">
					<div class="date">2012년 1월</div>
				</div>
				<div class="col-sm-5">
					<div class="icon icon-color icon-size-3">
						<i class="fa fa-laptop"></i>
					</div>
					<h4>소니폰 메인보드 수리 시작</h4>
					<p>전국 협력점 소니.블랙베리폰 서비스 실시</p>
				</div>
			</div>
			
			

			<div class="row irow-xs" data-animate="fadeInUp">
				<div class="col-sm-5 hidden-xs col-sm-push-7"></div>
				<div class="col-sm-2 no-padding">
					<div class="date">2012년 3월</div>
				</div>
				<div class="col-sm-5 col-sm-pull-7">
					<div class="icon icon-color icon-size-3">
						<i class="fa fa-laptop"></i>
					</div>
					<h4>전국 아이폰 사설 업체(5곳) 메인보드수리 위탁업무 진행</h4>
					<p>전국 16개 협력점 확대</p>
				</div>
			</div>

			<div class="row irow-xs" data-animate="fadeInUp">
				<div class="col-sm-5 hidden-xs"></div>
				<div class="col-sm-2 no-padding">
					<div class="date">2013년 1월</div>
				</div>
				<div class="col-sm-5">
					<div class="icon icon-color icon-size-3">
						<i class="fa fa-laptop"></i>
					</div>
					<h4>전국 20개 협력점 확대 </h4>
				</div>
			</div>



			<div class="row irow-xs" data-animate="fadeInUp">
				<div class="col-sm-5 hidden-xs col-sm-push-7"></div>
				<div class="col-sm-2 no-padding">
					<div class="date">2016년 1월</div>
				</div>
				<div class="col-sm-5 col-sm-pull-7">
					<div class="icon icon-color icon-size-3">
						<i class="fa fa-laptop"></i>
					</div>
					<h4>(주)데이터닥터 업무 제휴</h4>
				</div>
			</div>



			<div class="row irow-xs nobg" data-animate="fadeInUp">
				<div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1 text-center">
					<div class="circle"></div>
					<div class="icon icon-color icon-size-7">
						<i class="fa fa-clock-o"></i>
					</div>
					<h1>현재</h1>
					<h4>IFIX it KOREA 사명 변경 및 론칭.</h4>
				</div>
			</div>
		</div>
		<!-- /.container -->

	</div>
	<!-- /.content -->

{% endblock %}
