<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>브라우저 해결방법</title>
    <!-- css-->
    <link href="/css/ie.css" rel="stylesheet">
	<script>

	function getInternetExplorerVersion() {
	         var rv = -1; // Return value assumes failure.
	         if (navigator.appName == 'Microsoft Internet Explorer') {
	              var ua = navigator.userAgent;
	              var re = new RegExp("MSIE ([0-9]{1,}[\.0-9]{0,})");
	              if (re.exec(ua) != null)
	                  rv = parseFloat(RegExp.$1);
	             }
	         return rv;
	}
	
	if(getInternetExplorerVersion()>=8) {
		location.href = "home.html";
	}
	</script>
  </head>
  <body>
        <div class="ie_wrap">
            <h1>
                <img src="/images/logo.png" alt="">
            </h1>
            <p class="cont1">
                <span>현재 접속하신 브라우저 버젼으로는 사이트를 정상적으로 이용하실 수 없습니다.</span>
                <span>아래 브라우저별 업데이트를 진행하시고 최신버전으로 이용해 주세요</span>
                <span>감사합니다.</span>
            </p>
            <div class="ie_link">
                <div class="ie1"><span>Internet Explorer 인터넷 익스플로러</span><a href="https://www.microsoft.com/ko-kr/download/internet-explorer.aspx" target="_blank" title="새창열림">업데이트 바로가기</a></div>
                <div class="ie2"><span>Chrome 브라우저</span><a href="https://support.google.com/chrome/answer/95346?hl=ko&ref_topic=3227046" target="_blank" title="새창열림">다운로드 바로가기</a></div>
                <div class="ie3"><span>Firefox 파이어폭스</span><a href="https://www.mozilla.org/ko/firefox/new/" target="_blank" title="새창열림">다운로드 바로가기</a></div>
            </div>

            <table>
                <colgroup>
                    <col width="15%">
                    <col width="25%">
                    <col width="60%">
                </colgroup>
                <thead>
                    <tr>
                        <th>지점명</th>
                        <th>전화번호</th>
                        <th>주소</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in groups %}
                        {% for item in group.Stores %}
                        <tr>
                            <td>{{item.name}}</td>
                            <td>{{item.tel}}</td>
                            <td>{{item.address}}</td>
                        </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

  </body>
</html>
