/*------------------------------------------------------------------
[ PRELOADER ]
-------------------------------------------------------------------*/

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    opacity: 1;
    z-index: 90000;
    width: 100%;
    height: 100%;
    background-color:#FFF;
    /*background: url(http://media.aisconverse.com/images/other/preloader.gif) no-repeat 50% 50% #fff;*/

}

.preloader::before{
  content: "";
  position:fixed;
  z-index: 91000;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background: url(/images/100x100.png) no-repeat 50% 50% #fff;
  -webkit-animation-name: preloader;
  animation-name: preloader;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


@-webkit-keyframes preloader {
  from {
  -webkit-transform: rotateY(0deg) ;
  -ms-transform: rotateY(0deg) ;
  transform: rotateY(0deg) ;
  }
  to {
  -webkit-transform: rotateY(360deg) ;
  -ms-transform: rotateY(360deg) ;
  transform: rotateY(360deg) ;
  }
}
@-o-keyframes preloader {
  from {
  -webkit-transform: rotateY(0deg) ;
  -ms-transform: rotateY(0deg) ;
  transform: rotateY(0deg) ;
}
  to {
    -webkit-transform: rotateY(360deg) ;
    -ms-transform: rotateY(360deg) ;
    transform: rotateY(360deg) ;  }
}
@-moz-keyframes preloader {
  from {
  -webkit-transform: rotateY(0deg) ;
  -ms-transform: rotateY(0deg) ;
  transform: rotateY(0deg) ;  }
  to {
    -webkit-transform: rotateY(360deg) ;
    -ms-transform: rotateY(360deg) ;
    transform: rotateY(360deg) ;   }
}
@keyframes preloader {
  from {
    -webkit-transform: rotateY(0deg) ;
  -ms-transform: rotateY(0deg) ;
  transform: rotateY(0deg) ;  }
  to {
    -webkit-transform: rotateY(360deg) ;
    -ms-transform: rotateY(360deg) ;
    transform: rotateY(360deg) ;
    }
}
